Repository android-password-store/Android-Password-Store, pull requests merged in 2020-12, with the labels that each got.

#1226 GitCommandExecutor: make committer match author
  CHANGELOG.md
  app/src/main/java/com/zeapo/pwdstore/git/GitCommandExecutor.kt
Labels: A-Git, C-bug, P-low

#1228 Use countdown chronometer on API 24 and above
  app/src/main/java/com/zeapo/pwdstore/ClipboardService.kt
  app/src/main/java/com/zeapo/pwdstore/crypto/BasePgpActivity.kt
Labels: C-bug

#1230 Set 10 second timeout on JGit transport commands
  CHANGELOG.md
  app/src/main/java/com/zeapo/pwdstore/git/operation/GitOperation.kt
Labels: A-Git, A-auth, C-bug, P-medium, S-waiting-on-review

#1229 Dependency updates
  .idea/gradle.xml
  app/build.gradle.kts
  buildSrc/src/main/java/Dependencies.kt
Labels: A-dependencies, P-medium, S-waiting-on-review

#1234 Create issue template for RFCs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/rfc.md
Labels: C-doc, P-medium

#1237 Mark Chrome Canary as non-flaky and allowing save
  app/src/main/java/dev/msfjarvis/aps/ui/settings/UserPreference.kt
  app/src/main/res/values/strings.xml
  autofill-parser/api/autofill-parser.api
  autofill-parser/gradle.properties
  autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/FeatureAndTrustDetection.kt
Labels: A-autofill, C-feature, S-waiting-on-review

#1240 Upgrade to Kotlin 1.4.21
  buildSrc/buildDependencies.gradle
  buildSrc/src/main/java/Dependencies.kt
Labels: A-dependencies, P-low

#1243 Strip down README to feature new docs and Discussions
  .github/workflows/pull_request.yml
  README.md
Labels: C-doc, P-high

#1246 Try to fix missing `.gpg-id` files as well
  CHANGELOG.md
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/PasswordCreationActivity.kt
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/strings.xml
Labels: A-PGP, C-feature, P-high

#1242 Better guidance for users to deal with host key changes
  CHANGELOG.md
  app/src/main/java/dev/msfjarvis/aps/ui/git/base/BaseGitActivity.kt
  app/src/main/java/dev/msfjarvis/aps/ui/git/config/GitServerConfigActivity.kt
  app/src/main/java/dev/msfjarvis/aps/util/settings/GitSettings.kt
  app/src/main/res/layout/activity_git_clone.xml
  app/src/main/res/values/strings.xml
Labels: A-auth, C-feature, P-medium

#1247 github: checkout PR head when running checks
  .github/workflows/pull_request.yml
Labels: A-CI-CD, C-regression, P-high, S-waiting-on-review

#1250 Mark Chrome Dev as non-flaky and able to save
  autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/FeatureAndTrustDetection.kt
Labels: A-autofill, P-low, S-waiting-on-review

#1255 Refactor GitCommandExecutor
  app/src/main/java/dev/msfjarvis/aps/util/git/GitCommandExecutor.kt
  app/src/main/java/dev/msfjarvis/aps/util/git/GitResult.kt
  app/src/main/java/dev/msfjarvis/aps/util/git/operation/GitOperation.kt
Labels: A-Git, C-technical-debt, P-low, S-waiting-on-review

#1256 Sync localisations with Crowdin
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/strings.xml
Labels: A-localisation, C-technical-debt, P-medium

#1257 Switch back to pull_request to mitigate security issue
  .github/workflows/pull_request.yml
Labels: A-CI-CD, C-bug, P-high

#1259 Add German term for username to heuristic keywords
  autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/FormField.kt
Labels: A-autofill, S-waiting-on-review

#1258 Mark unfocused single password fields as fillable
  autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/AutofillStrategy.kt
Labels: A-autofill, S-waiting-on-review

#1265 Automate Crowdin localisation sync
  .github/workflows/weekly_crowdin_sync.yml
  app/build.gradle.kts
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/nonFree/values-de/strings.xml
  app/src/nonFree/values-gl/strings.xml
  app/src/nonFree/values-it/strings.xml
  app/src/nonFree/values-pt-BR/strings.xml
  app/src/nonFree/values-ru/strings.xml
  app/src/nonFree/values-uk/strings.xml
  buildSrc/build.gradle.kts
  buildSrc/buildDependencies.gradle
  buildSrc/src/main/java/CrowdinDownloadPlugin.kt
  buildSrc/src/main/java/CrowdinExtension.kt
Labels: A-localisation, P-medium, S-waiting-on-review
