Repository android-password-store/Android-Password-Store, pull requests merged in 2022-01, with the labels that each got.

#1640 Add Mull to autofill supported browsers
  autofill-parser/CHANGELOG.md
  autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/FeatureAndTrustDetection.kt
Labels: A-autofill

#1652 Raise timeouts for Crowdin task again
  .github/workflows/sync_crowdin.yml
  build-logic/automation-plugins/src/main/kotlin/crowdin/CrowdinPlugin.kt
Labels: C-bug, A-CI-CD, A-build

#1653 Run tests from Git pre-push-hook
  scripts/pre-push-hook.sh
Labels: A-meta

#1650 Refactor and simplify KeyManager API
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/CryptoException.kt
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/Key.kt
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/KeyManager.kt
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/KeyPair.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/PGPKeyManager.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/PGPKeyPair.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/CryptoConstants.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/PGPKeyManagerTest.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/PGPKeyPairTest.kt
Labels: C-technical-debt, P-high, S-waiting-on-review, A-PGPainless

#1651 Make CryptoHandler use Key as the abstraction layer
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillDecryptActivityV2.kt
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/DecryptActivityV2.kt
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/PasswordCreationActivityV2.kt
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/CryptoHandler.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/KeyUtils.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/PGPKeyManager.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/PGPainlessCryptoHandler.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/PGPKeyManagerTest.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/PGPainlessCryptoHandlerTest.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/TestUtils.kt
  crypto-pgpainless/src/test/resources/public_key
Labels: C-technical-debt, P-high, A-PGPainless

#1647 Integrate PGPainless backend into the UI properly
  app/src/main/AndroidManifest.xml
  app/src/main/java/dev/msfjarvis/aps/data/crypto/CryptoRepository.kt
  app/src/main/java/dev/msfjarvis/aps/injection/crypto/KeyManagerModule.kt
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillDecryptActivityV2.kt
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/DecryptActivityV2.kt
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/PasswordCreationActivityV2.kt
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/PasswordDialog.kt
  app/src/main/java/dev/msfjarvis/aps/ui/pgp/PGPKeyImportActivity.kt
  app/src/main/java/dev/msfjarvis/aps/ui/settings/PGPSettings.kt
  app/src/main/java/dev/msfjarvis/aps/ui/settings/RepositorySettings.kt
  app/src/main/java/dev/msfjarvis/aps/ui/settings/SettingsActivity.kt
  app/src/main/java/dev/msfjarvis/aps/util/extensions/AndroidExtensions.kt
  app/src/main/java/dev/msfjarvis/aps/util/extensions/Extensions.kt
  app/src/main/res/drawable/ic_password_24px.xml
  app/src/main/res/layout/dialog_password_entry.xml
  app/src/main/res/values/strings.xml
Labels: C-technical-debt, E-hard, P-high, C-feature, A-PGPainless

#1654 Make PGPainless backend feature flag runtime configurable
  CHANGELOG.md
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillFilterView.kt
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillSaveActivity.kt
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/BasePgpActivity.kt
  app/src/main/java/dev/msfjarvis/aps/ui/passwords/PasswordStore.kt
  app/src/main/java/dev/msfjarvis/aps/ui/settings/PGPSettings.kt
  app/src/main/java/dev/msfjarvis/aps/util/autofill/Api30AutofillResponseBuilder.kt
  app/src/main/java/dev/msfjarvis/aps/util/autofill/AutofillResponseBuilder.kt
  app/src/main/java/dev/msfjarvis/aps/util/features/Feature.kt
  app/src/main/java/dev/msfjarvis/aps/util/features/Features.kt
  app/src/main/java/dev/msfjarvis/aps/util/services/OreoAutofillService.kt
Labels: P-high, C-feature, A-UI-UX, A-PGPainless

#1655 Fix a bunch of Lint warnings and errors
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillDecryptActivity.kt
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillDecryptActivityV2.kt
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillFilterView.kt
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillPublisherChangedActivity.kt
  app/src/main/java/dev/msfjarvis/aps/util/autofill/AutofillViewUtils.kt
  app/src/main/java/dev/msfjarvis/aps/util/services/ClipboardService.kt
  app/src/main/res/color/chip_text_color.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values/arrays.xml
  app/src/main/res/values/strings.xml
  autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/AutofillScenario.kt
  autofill-parser/src/main/java/com/github/androidpasswordstore/autofillparser/AutofillStrategyDsl.kt
Labels: A-meta

#1656 Delete empty values directories in Crowdin cleanup
  build-logic/automation-plugins/src/main/kotlin/crowdin/CrowdinPlugin.kt
Labels: C-bug, A-build

#1657 Remove unused class
  app/src/main/java/dev/msfjarvis/aps/util/FeatureFlags.kt
Labels: C-technical-debt

#1662 Update Compose
  gradle/libs.versions.toml
Labels: A-dependencies

#1663 Refactor randomized password generator into a separate module
  app/build.gradle.kts
  app/src/main/java/dev/msfjarvis/aps/ui/dialogs/PasswordGeneratorDialogFragment.kt
  app/src/main/res/values/strings.xml
  build-logic/kotlin-plugins/src/main/kotlin/com.github.android-password-store.binary-compatibility.gradle.kts
  passgen/random/.gitignore
  passgen/random/build.gradle.kts
  passgen/random/src/main/kotlin/dev/msfjarvis/aps/passgen/random/PasswordGenerator.kt
  passgen/random/src/main/kotlin/dev/msfjarvis/aps/passgen/random/PasswordGeneratorException.kt
  passgen/random/src/main/kotlin/dev/msfjarvis/aps/passgen/random/PasswordOption.kt
  passgen/random/src/main/kotlin/dev/msfjarvis/aps/passgen/random/RandomNumberGenerator.kt
  passgen/random/src/main/kotlin/dev/msfjarvis/aps/passgen/random/RandomPasswordGenerator.kt
  passgen/random/src/main/kotlin/dev/msfjarvis/aps/passgen/random/RandomPhonemesGenerator.kt
  passgen/random/src/main/kotlin/dev/msfjarvis/aps/passgen/random/util/Extensions.kt
  settings.gradle.kts
Labels: C-technical-debt, A-password-generator

#1669 Parameterize key and key identifier types for KeyManager
  app/src/main/java/dev/msfjarvis/aps/injection/crypto/CryptoHandlerModule.kt
  app/src/main/java/dev/msfjarvis/aps/injection/crypto/KeyManagerModule.kt
  app/src/main/java/dev/msfjarvis/aps/ui/pgp/PGPKeyImportActivity.kt
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/CryptoException.kt
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/CryptoHandler.kt
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/Key.kt
  crypto-common/src/main/kotlin/dev/msfjarvis/aps/crypto/KeyManager.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/GpgIdentifier.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/KeyUtils.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/PGPKey.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/PGPKeyManager.kt
  crypto-pgpainless/src/main/kotlin/dev/msfjarvis/aps/crypto/PGPainlessCryptoHandler.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/CryptoConstants.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/GpgIdentifierTest.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/PGPKeyManagerTest.kt
  crypto-pgpainless/src/test/kotlin/dev/msfjarvis/aps/crypto/PGPainlessCryptoHandlerTest.kt
Labels: C-technical-debt, A-PGPainless

#1671 Bump material-components-android to 1.6.0-alpha02
  gradle/libs.versions.toml
Labels: A-dependencies, A-UI-UX

#1672 Add support for properly dealing with incorrect passwords
  app/src/main/java/dev/msfjarvis/aps/data/crypto/CryptoRepository.kt
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/DecryptActivityV2.kt
  app/src/main/java/dev/msfjarvis/aps/ui/crypto/PasswordDialog.kt
  app/src/main/res/layout/dialog_password_entry.xml
Labels: A-UI-UX, A-PGPainless

#1677 Ensure V2 backend is supported by launcher shortcuts
  app/src/main/java/dev/msfjarvis/aps/ui/main/LaunchActivity.kt
Labels: C-bug, P-high, A-UI-UX, A-PGPainless

#1678 Upgrade to AGP 7.1.0-rc01
  app/build.gradle.kts
  gradle/libs.versions.toml
Labels: C-technical-debt, A-dependencies, A-build

#1682 Make Autofill intents mutable
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillDecryptActivity.kt
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillDecryptActivityV2.kt
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillFilterView.kt
  app/src/main/java/dev/msfjarvis/aps/ui/autofill/AutofillPublisherChangedActivity.kt
  app/src/main/java/dev/msfjarvis/aps/util/autofill/AutofillViewUtils.kt
  app/src/main/java/dev/msfjarvis/aps/util/services/ClipboardService.kt
Labels: C-bug, A-autofill, A-UI-UX

#1683 Add the ability to run garbage collection on the internal Git repository
  CHANGELOG.md
  app/src/main/java/dev/msfjarvis/aps/ui/git/base/BaseGitActivity.kt
  app/src/main/java/dev/msfjarvis/aps/ui/git/config/GitConfigActivity.kt
  app/src/main/java/dev/msfjarvis/aps/util/git/operation/GcOperation.kt
  app/src/main/java/dev/msfjarvis/aps/util/git/operation/GitOperation.kt
  app/src/main/res/layout/activity_git_config.xml
  app/src/main/res/values/strings.xml
Labels: E-easy, P-medium, S-waiting-on-review, A-Git, C-feature, A-UI-UX

#1685 Upgrade AGP to stable track
  gradle/libs.versions.toml
Labels: A-dependencies, A-build

#1687 Isolate Compose code to its own module
  app/build.gradle.kts
  app/src/main/java/dev/msfjarvis/aps/ui/theme/Color.kt
  build-logic/kotlin-plugins/src/main/kotlin/com.github.android-password-store.binary-compatibility.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  ui-compose/build.gradle.kts
  ui-compose/src/main/AndroidManifest.xml
  ui-compose/src/main/kotlin/dev/msfjarvis/aps/ui/compose/theme/Color.kt
  ui-compose/src/main/kotlin/dev/msfjarvis/aps/ui/compose/theme/Theme.kt
  ui-compose/src/main/kotlin/dev/msfjarvis/aps/ui/compose/theme/Type.kt
Labels: C-technical-debt, A-meta, A-build

#1686 Unwind PasswordRepository's confusing control flow
  app/src/main/java/dev/msfjarvis/aps/data/repo/PasswordRepository.kt
  app/src/main/java/dev/msfjarvis/aps/ui/dialogs/FolderCreationDialogFragment.kt
  app/src/main/java/dev/msfjarvis/aps/ui/git/config/GitConfigActivity.kt
  app/src/main/java/dev/msfjarvis/aps/ui/git/config/GitServerConfigActivity.kt
  app/src/main/java/dev/msfjarvis/aps/util/git/GitLogModel.kt
  app/src/main/java/dev/msfjarvis/aps/util/git/operation/GitOperation.kt
Labels: C-technical-debt, S-waiting-on-review
